.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

section {
  padding: 5px;
  margin: 10px;
}

.image-container {
  margin-top: 20px;
}

.image-container img {
  max-width: 40%;
  height: auto;
}
